ul {
    color: black;
    text-align: right;
    list-style: none;
    display: block;
    

}

.paolo {
    background-color:bisque ;
    color: black;
    font-family:'Times New Roman', Times, serif;
    
}
.encabezado {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.primer_parrafo {
    font-family: 'Times New Roman', Times, serif;
    
    
}



div { 
    text-align: center; 
    font-size:medium;
    color: black;
    font-style: normal;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
}

h2 {
    font-size: medium;
    color: black;
    font-style: italic;
    text-align: center;
}
img {
    width: 250x;
    height: 250px;
    border: solid;
    margin-left: 5px;
    border-radius: 25%;
    
}

body {
    background-color:bisque
}

.listadoprincipal {
    color: black;
    font-style: normal;
    text-align: center;

}






main {
    color: black;
    text-align:center;
    font-style: normal;

}

p{
    color: black;
    text-align: center;
    font-style: normal;
}


footer{ 
    color: black;
    text-align: center;
    list-style: none;
    display: block;
    font-style: italic;
    
}




    



    
